<!DOCTYPE HTML>
<!--
    Road Trip by TEMPLATED
    templated.com @templatedco
    Realeased for free under the Creative Commons Attribution 3.0 license
    -->

<html>
    <head>
        <title>{{titulo}}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="assets/css/main.css"/>        
    </head>
    <body>

    <!-- Header -->
        <header id="header">
            <div class="logo"><a href="/">{{titulo}} <span>{{nombre}}</span></a></div>
            <a href="#menu"><span>Menu</span></a>
        </header>

