<!DOCTYPE html>
<!--
    Road Trip by TEMPLATED
    templated.com @templatedco
    Realeased for free under the Creative Commons Attribution 3.0 license
    -->

<html>
    <head>
        <title>{{titulo}}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="assets/css/main.css"/>        
    </head>
    <body>

        <!--Header-->
        {{> header}}


        <!-- nav -->
        {{>navbar}}

        <!-- baner -->
        <!--
            Note: To show a blaground  image, set the  "data-bg" attribute below to the full filename of your  image. 
            This is used in each section to set the background imgage.

        -->
        
            </div>
            <footer>
                <a href="generic.html" class="button alt">Learn More</a>
            </footer>
        </article>            
    </div>
</section>
<!-- Footer -->
{{> footer}}

</body>
</html>


